@model EMSIRails.Models.voyage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>voyage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateArrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateArrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heureArrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heureArrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gare.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gare.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gare1.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gare1.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.train.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.train.libelle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idvoyage }) |
    @Html.ActionLink("Back to List", "Index")
</p>
