@model EMSIRails.Models.train

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="wrapper fadeInDown justify-content-center">
    <div id="formContent" class="justify-content-center p-2">
        <h4>train</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idtrain)

            @Html.LabelFor(model => model.libelle, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.libelle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.libelle, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.nbplaces, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.nbplaces, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nbplaces, "", new { @class = "text-danger" })

                <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

